[submodule "src/intera_common"]
	path = src/intera_common
	url = https://github.com/RethinkRobotics/intera_common.git
[submodule "src/intera_sdk"]
	path = src/intera_sdk
	url = https://github.com/RethinkRobotics/intera_sdk.git
[submodule "src/sawyer_robot"]
	path = src/sawyer_robot
	url = https://github.com/RethinkRobotics/sawyer_robot.git
